<!doctype html>
<html lang="de">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Studieren Ohne Grenzen &mdash; Dashboard</title>

    {% block styles %}
        <link rel="stylesheet" href="{{ app.request.basepath }}/css/vendor.css">
        <link rel="stylesheet" href="{{ app.request.basepath }}/css/app.css">
    {% endblock %}

    <style>
        .bbox {
            /* border: 1px solid white;*/
            position: relative;
            width: 100%;
            padding: 5px 5px 5px 5px;
        }

        .lo {
            float: right;
        }

        .button-secondary {
            color: white;
            border-radius: 4px;
            text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
            background: rgb(176, 202, 219);
        }

        @media (min-width: 48em) {
            .bbox {
                position: absolute;
                bottom: 0;
            }
        }

    </style>

</head>
<body>
<div id="layout" class="pure-g">
    {% block sidebar %}
    <div class="sidebar pure-u-1 pure-u-md-1-4">
        <div class="header">
            <div class="pure-img-responsive logo circular"></div>

            <h1 class="brand-title">SOG Dashboard</h1>

            <h2 class="brand-tagline">Control &amp; Rule!</h2>

            <nav class="nav">
                <ul class="nav-list">
                    <li class="nav-item">
                        <a class="pure-button" href="{{ path('/members/manage-groups') }}">Meine Gruppen</a>
                    </li>
                    <li class="nav-item">
                        <a class="pure-button" href="{{ path('/members/manage-account') }}">Meine Benutzerdaten</a>
                    </li>
                    <li class="nav-item">
                        <a class="pure-button" href="{{ path('help') }}">Hilfe</a>
                    </li>
                </ul>
            </nav>
        </div>
        {% if app.user %}
        <div class="bbox">
            <hr/>
            <span class="lo"><a class="pure-button button-secondary lb" href="{{ path('members_logout') }}">Abmelden</a></span>
            <b>{{ app.user.attributes['cn'][0] }}</b><br/>ist angemeldet.
        </div>
        {% endif %}
    </div>
    {% endblock %}

    <div class="content pure-u-1 pure-u-md-3-4" id="members">
        {% block content %}{% endblock %}

        {% block footer %}
            <div class="footer">
                <div class="pure-menu pure-menu-horizontal">
                    <ul>
                        <li class="pure-menu-item"><a href="https://studieren-ohne-grenzen.org/" class="pure-menu-link">Webseite</a>
                        </li>
                        <li class="pure-menu-item"><a href="https://studieren-ohne-grenzen.org/atrium"
                                                      class="pure-menu-link">Open Atrium</a></li>
                        <li class="pure-menu-item"><a href="https://studieren-ohne-grenzen.org/owncloud"
                                                      class="pure-menu-link">OwnCloud</a></li>
                    </ul>
                </div>
            </div>
        {% endblock %}
    </div>
</div>

{% block scripts %}
    <script src="{{ app.request.basepath }}/js/vendor.js"></script>
{% endblock %}

</body>
</html>