<!doctype html>
<html lang="de">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Studieren Ohne Grenzen &mdash; Dashboard</title>
    <link rel="icon" href="/favicon.ico">
    {% block styles %}
        <link rel="stylesheet" href="{{ app.request.basepath }}/css/vendor.css">
        <link rel="stylesheet" href="{{ app.request.basepath }}/css/app.css">
    {% endblock %}
</head>
<body>
<div class="login-bar">
    <div class="pure-img-responsive logo circular"></div>
</div>
<div id="layout" class="login">
    <div class="login-form">
        {% block content %}
            <h1 class="brand-title">Willkommen im Dashboard!</h1>

            <form action="{{ path('members_login_check') }}" class="pure-form pure-form-aligned" method="post">
                {% if error %}
                    <p class="button-error">{{ error }}</p>
                {% endif %}

                <div class="pure-control-group">
                    <label for="username">Benutzername</label>
                    <input type="text" name="_username" id="username" placeholder="vorname.nachname"
                           value="{{ last_username }}"/>
                </div>
                <div class="pure-control-group">
                    <label for="password">Passwort</label>
                    <input type="password" name="_password" id="password" value=""/>
                </div>
                <div class="pure-control-group">
                    <label for="remember_me">Eingeloggt bleiben</label>
                    <input type="checkbox" id="remember_me" name="_remember_me" checked />
                </div>
                <div class="pure-controls">
                    <button type="submit" class="pure-button pure-button-primary" value="Login">
                        <i class="icon-login font-icon">&#xe80e;</i>&ensp;Login
                    </button>
                </div>
            </form>
        {% endblock %}

        {% block footer %}
            <div class="footer">
                <div class="pure-menu pure-menu-horizontal">
                    <ul>
                        <li class="pure-menu-item"><a href="https://studieren-ohne-grenzen.org/" class="pure-menu-link"><i
                                        class="icon-link font-icon">&#xe81a;</i>Webseite</a>
                        </li>
                        <li class="pure-menu-item"><a href="https://atrium.studieren-ohne-grenzen.org"
                                                      class="pure-menu-link"><i class="icon-link font-icon">&#xe81a;</i>Open
                                Atrium</a></li>
                        <li class="pure-menu-item"><a href="https://owncloud.studieren-ohne-grenzen.org"
                                                      class="pure-menu-link"><i class="icon-cloud font-icon">
                                    &#xe818;</i>OwnCloud</a></li>
                        <li class="pure-menu-item"><a href="https://webmail.studieren-ohne-grenzen.org"
                                                      class="pure-menu-link"><i class="icon-mail font-icon">
                                    &#xe802;</i>Webmail</a></li>
                    </ul>
                </div>
            </div>
        {% endblock %}
    </div>
</div>

</body>
</html>