<!doctype html>
<html lang="de">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Studieren Ohne Grenzen &mdash; Dashboard</title>

    {% block styles %}
        <link rel="stylesheet" href="{{ app.request.basepath }}/css/vendor.css">
        <link rel="stylesheet" href="{{ app.request.basepath }}/css/app.css">
    {% endblock %}

</head>
<body>
<div class="login-bar">
    <div class="pure-img-responsive logo circular"></div>
</div>
<div id="layout" class="login">
    <div class="login-form">
        {% block content %}
            <h1 class="brand-title">Willkommen im Dashboard!</h1>

            <form action="{{ path('members_login_check') }}" class="pure-form pure-form-aligned" method="post">
                {% if error %}
                    <p class="button-error">{{ error }}</p>
                {% endif %}

                <div class="pure-control-group">
                    <label for="username">Benutzername</label>
                    <input type="text" name="_username" id="username" placeholder="vorname.nachname"
                           value="{{ last_username }}"/>
                </div>
                <div class="pure-control-group">
                    <label for="password">Passwort</label>
                    <input type="password" name="_password" id="password" value=""/>
                </div>
                <div class="pure-controls">
                    <input type="submit" class="pure-button pure-button-primary" value="Login"/>
                </div>
            </form>
        {% endblock %}

        {% block footer %}
            <div class="footer">
                <div class="pure-menu pure-menu-horizontal">
                    <ul>
                        <li class="pure-menu-item"><a href="https://studieren-ohne-grenzen.org/" class="pure-menu-link">Webseite</a>
                        </li>
                        <li class="pure-menu-item"><a href="https://studieren-ohne-grenzen.org/atrium"
                                                      class="pure-menu-link">Open Atrium</a></li>
                        <li class="pure-menu-item"><a href="https://studieren-ohne-grenzen.org/owncloud"
                                                      class="pure-menu-link">OwnCloud</a></li>
                    </ul>
                </div>
            </div>
        {% endblock %}
    </div>
</div>

</body>
</html>