{% extends 'base.twig' %}
{% block content %}
    <h1>{{ 'Welcome'|trans }}, {{ app.user.attribute('givenname', 0) }}</h1>
    <div>
        <table class="pure-table-horizontal user-data">
            <tbody class="list">
            <tr>
                <td class="icon"><i class="icon-mail font-icon">&#xe802;</i></td>
                <td class="label">E-Mail</td>
                <td class="value">
                    {{ app.user.attribute('mail', 0) }}<br/>
                </td>
            </tr>
            <tr>
                <td class="icon"><i class="icon-key font-icon">&#xe80d;</i></td>
                <td class="label">{{ 'Password'|trans }}</td>
                <td class="value">
                    <div id="view-password" class="shown-elem"> **********
                        <button class="pure-button button-small"
                                onclick="showEdit('view-password', 'edit-password');"><i class="icon-edit font-icon">
                                &#xe809;</i>{{ 'change'|trans }}
                        </button>
                    </div>
                    <div id="edit-password" class="hidden-elem">
                        <form class="pure-form pure-form-stacked" method="POST">
                            <fieldset>
                                <label for="old-password">{{ 'Old password'|trans }}:</label>
                                <input type="password"
                                       class="pure-input-rounded"
                                       id="old-password" name="old-password"
                                       placeholder="{{ 'Old password'|trans }}" required>
                            </fieldset>
                            <fieldset class="pure-group">
                                <label for="new-password">{{ 'New password'|trans }}:
                                    <input type="password" id="new-password"
                                           name="new-password"
                                           onkeyup="passStrength(this)"
                                           placeholder="{{ 'New password'|trans }}"
                                           required><span id="strengthmeter" class="pass-strength"></span></label>
                                <label for="confirm-password"><input type="password"
                                                                     id="confirm-password"
                                                                     name="confirm-password"
                                                                     onkeyup="validatePass()"
                                                                     placeholder="{{ 'Repeat new password'|trans }}"
                                                                     required>
                                </label><span id="validation"></span>
                            </fieldset>
                            <fieldset>
                                <button type="submit" class="pure-button pure-button-primary" id="change-password"
                                        name="change-password"><i class="icon-ok-circled2 font-icon">&#xe807;</i>&ensp;{{ 'Save'|trans }}
                                </button>
                                <span class="pure-button"
                                      onclick="hideEdit('view-password', 'edit-password');"><i
                                            class="icon-cancel-circled2 font-icon">&#xe808;</i>&ensp;{{ 'Cancel'|trans }}
                                </span>
                            </fieldset>
                        </form>
                    </div>
                </td>
            </tr>
            <tr>
                <td class="icon"><i class="icon-users font-icon">&#xe806;</i></td>
                <td class="label">{{ 'Groups'|trans }}</td>
                <td class="value">
                    {% for i in app.user.groups|keys %}
                        <button onclick="showDetails('{{ app.user.groupAttribute(i, 'cn', 0) }}', '{{ app.user.groupAttribute(i, 'mailinglistId', 0) }}')" class="pure-button button-info"><i class="icon-info-circled font-icon">&#xe801;</i>&ensp;{{ app.user.groupAttribute(i, 'cn', 0) }}</button>
                    {% endfor %}
                </td>
            </tr>
            </tbody>
        </table>
        <p>Unter <a href="{{ path('/members/manage-groups') }}">Meine Gruppen</a> kannst du deine Mitgliedschaften in
            den einzelnen Gruppen verwalten.</p>

        <p>In CiviCRM kannst du deine Stammdaten wie Adresse und Email-Adresse anpassen: <a
                    href="https://civicrm.studieren-ohne-grenzen.org/user">Mein Profil auf CiviCRM</a> (siehe <em>Kontaktinformationen
                bearbeiten</em>).</p>
    </div>
{% endblock %}
{% block scripts %}
    <script src="{{ app.request.basepath }}/js/zxcvbn.js" async></script>
    {{ parent() }}
    <script>
        var showDetails = require('js/group_detail_modal');
        require('js/password_validation')('new-password', 'confirm-password', 'validation', 'strengthmeter');
        function showEdit(shownElem, hiddenElem) {
            hideAll();
            resetForms();
            document.getElementById(shownElem).style.display = 'none';
            document.getElementById(hiddenElem).style.display = 'inline';
        }
        function hideEdit(shownElem, hiddenElem) {
            document.getElementById(shownElem).style.display = 'inline';
            document.getElementById(hiddenElem).style.display = 'none';
        }
        function hideAll() {
            var e = document.getElementsByClassName('hidden-elem');
            var i;
            for (i = 0; i < e.length; ++i) {
                e[i].style.display = 'none';
            }
            e = document.getElementsByClassName('shown-elem');
            for (i = 0; i < e.length; ++i) {
                e[i].style.display = 'inline';
            }
        }
        function resetForms() {
            var e = document.getElementsByClassName('pure-form');
            for (var i = 0; i < e.length; ++i) {
                e[i].reset();
            }
            var confPass = document.getElementById('confirm-password');
            var message = document.getElementById('validation');
            confPass.style.backgroundColor = null;
            message.innerHTML = '';
        }
    </script>
{% endblock %}
