{% extends 'base.twig' %}

{% block content %}
    <h1>Willkommen, {{ user.attribute('givenname', 0) }}</h1>
    <div class="group-chooser">
        <form class="pure-form">
            <fieldset>
                <label for="group">Deine Gruppe&nbsp;</label>
                <select name="group" id="group" onchange="this.form.submit()">
				{% for i in ownedGroups|keys %}
					<option {% if ownedGroups[i]['ou'][0] == group %}selected {% endif %}value="{{ ownedGroups[i]['ou'][0] }}">{{ ownedGroups[i]['cn'][0] }}</option>
				{% endfor %} 
                </select>
            </fieldset>
        </form>
    </div>
    <div class="pure-g">
        <div class="pure-u-1 pure-u-md-1-2">
            <form class="pure-form bold-legend">
                <fieldset>
                    <legend>Filtern nach...</legend>
                    <input type="text" class="search" placeholder="Name, Email...">

                    <label for="filter-by-new">
                        <input id="filter-by-new" type="checkbox" name="filter" value="new">
                        Neue Mitglieder
                    </label>

                    <label for="filter-by-group">
                        <input id="filter-by-group" type="checkbox" name="filter" checked value="group">
                        Meine Gruppe
                    </label>
                </fieldset>
            </form>
        </div>
        <div class="pure-u-1 pure-u-md-1-2">
            <p>Hier kannst du neue Mitglieder deiner Gruppe freischalten und dein Passwort ändern. Über das Suchfeld
                kannst du auch andere Mitglieder finden und deiner Gruppe hinzufügen.</p>
        </div>
    </div>
    <div>
        <table class="full-width pure-table pure-table-bordered">
            <thead>
            <tr>
                <th>Name</th>
                <th>Mail</th>
                <th>Aktion</th>
            </tr>
            </thead>
            <tbody class="list"> 
{% for person in result %}
{% if person['displayname'][0] is defined %}
            <tr>
            	<td class="name">{{ person['displayname'][0] }}</td>
                <td class="email">{% if person['mail'] is defined %}{{ person['mail'][0] }}{% endif %}</td>
                <td><a href="#activate" class="{%  if person['dn'] in members[0]['member'] %}pure-button button-warning">entfernen{% else %}pure-button button-success">hinzuf&uuml;gen{% endif %}</a></td>
                <td class="isMember hidden">{%  if person['dn'] in members[0]['member'] %}true{% else %}false{% endif %}</td>
            </tr>
	{% endif %}
{% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}

{% block scripts %}
    {{ parent() }}
    <script>
        var options = {
            valueNames: ['name', 'email']
        };

        var memberList = new List('list', options);
        

        /* TODO (doesn't work yet) */
        function filterGroup(cb){
					personList.filter(function(item) {
						return (item.values().isMember == true);
					});
					return false;
        }
    </script>
{% endblock %}
