{% extends 'base.twig' %}

{% block content %}
    <h1>Verwalte die Mitglieder deiner Gruppen</h1>
    <div class="group-chooser">
        <form class="pure-form">
            <fieldset>
                <label for="group">Deine Gruppe&nbsp;</label>
                <select name="group" id="group" onchange="this.form.submit()">
				{% for i in ownedGroups|keys %}
					<option {% if ownedGroups[i]['ou'][0] == group %}selected {% endif %}value="{{ ownedGroups[i]['ou'][0] }}">{{ ownedGroups[i]['cn'][0] }}</option>
				{% endfor %}
                </select>
            </fieldset>
        </form>
    </div>
    <div>
            <form class="pure-form bold-legend">
                <fieldset>
                    <legend>Suchen nach...</legend>
                    <i class="icon-search font-icon">&#xe816;</i>
                    <input type="text" class="search" placeholder="Name, Email...">
                    <i class="icon-filter font-icon">&#xe817;</i>
                    <label for="filter-by-new">
                        <input id="filter-by-new" type="checkbox" name="filter" value="new">
                        Neue Mitglieder
                    </label>
                    <label for="filter-by-group">
                        <input id="filter-by-group" type="checkbox" name="filter" onclick ="filterGroup(this)" checked value="group">
                        Meine Gruppe
                    </label>
                </fieldset>
            </form>
        <table class="full-width pure-table pure-table-bordered">
            <thead>
            <tr>
                <th class="sort asc" data-sort="name">Name</th>
                <th class="sort" data-sort="email">E-Mail-Adresse</th>
                <th class="sort" data-sort="isMember">Aktion</th>
            </tr>
            </thead>
            <tbody class="list">
            {% for person in result %}
                {% if person['displayname'][0] is defined %}
                {% set isMember = false %}
                {% if person['dn'] in members[0]['member'] %}{% set isMember = true %}{% endif %}
                    <tr>
                        <td class="name">{{ person['displayname'][0] }}</td>
                        <td class="email">{% if person['mail'] is defined %}{{ person['mail'][0] }}{% endif %}</td>
                        <td><button onclick="submitButton('{{ person['displayname'][0] }}', '{{ person['dn'] }}', '{% if isMember %}rm')" class="pure-button button-warning"><i class="icon-user-times font-icon">&#xe804;</i>&ensp;entfernen{% else %}add')" class="pure-button button-success"><i class="icon-user-plus font-icon">&#xe803;</i>&ensp;hinzuf&uuml;gen{% endif %}</button>
                        </td>
                        <td class="isMember hidden">{% if isMember %}1{% else %}0{% endif %}</td>
                    </tr>
                {% endif %}
            {% endfor %}
            </tbody>
        </table>
        <ul class="pagination"></ul>
    </div>
    <form method="POST" id="send-action"><input type="hidden" name="selected-group" id="selected-group" value="{{ group }}" /><input type="hidden" name="selected-member" id="selected-member" /><input type="hidden" name="action" id="action" /><input type="hidden" name="member-name" id="member-name" /><input type="hidden" name="group-name" id="group-name" /></form>
{% endblock %}

{% block scripts %}
    {{ parent() }}
    <script>
        var options = {
            valueNames: ['name', 'email', 'isMember'],
            page: 20,
            plugins: [
                ListPagination({})
            ]
        };

        var memberList = new List('members', options);

        var memberFilter = function (item) {return (item.values().isMember == '1')};
        memberList.filter(memberFilter);

        function filterGroup(cb) {
            if (cb.checked){
            	memberList.filter(memberFilter);
            }else{
            	memberList.filter();
            }
            return true;
        }
        
        function submitButton(name, mbr, action){

        	var gc = document.getElementById("group");
        	var groupName = gc.options[gc.selectedIndex].text;

        	var confirm = false;
        	
            if (action === 'add'){
        		confirm = window.confirm("Sicher, dass " + name + " zu " + groupName + " hinzugef\u00fcgt werden soll?");
            } else {
            	confirm = window.confirm("Sicher, dass " + name + " aus " + groupName + " entfernt werden soll?");
            }
            if(confirm) {
        		var submitForm = document.getElementById('send-action');
        		document.getElementById('selected-member').value = mbr;
        		document.getElementById('action').value = action;
        		document.getElementById('member-name').value = name;
        		document.getElementById('group-name').value = groupName;
        		submitForm.submit();
            }
         }
    </script>
{% endblock %}
