{% extends 'login.twig' %}
{% block content %}
    <h1 class="brand-title">{{ 'Change password'|trans }}</h1>
    <p>{{ 'Please enter your alternative email address:'|trans }}</p>
    <form action="{{ path(request_route) }}" class="pure-form pure-form-aligned" method="post">
        <div class="pure-control-group">
            <label for="email">Email</label>
            <input type="email" name="email" id="email" required/>
        </div>
        <div class="pure-controls">
            <button type="submit" class="pure-button pure-button-primary" value="{{ 'Reset password'|trans }}">
                <i class="icon-key font-icon">&#xe80d;</i>&ensp;{{ 'Reset password'|trans }}
            </button>
        </div>
    </form>
{% endblock %}