{% extends 'login.twig' %}
{% block content %}
    <h1 class="brand-title">{{ 'Change password'|trans }}</h1>
    <p>{{ 'Please choose a new secure password with at least 8 characters:'|trans }}</p>
    <form action="{{ path(reset_route, { 'token': token }) }}" class="pure-form pure-form-aligned" method="post">
        <div class="pure-control-group">
            <label for="password">{{ 'Password'|trans }}</label>
            <input type="password" name="password" id="password" required/>
            <p id="strengthmeter"></p>
        </div>
        <div class="pure-control-group">
            <label for="password_repeat">{{ 'Repeat new password'|trans }}</label>
            <input type="password" name="password_repeat" id="password_repeat" required/>
            <p id="validation"></p>
        </div>
        <div class="pure-controls">
            <button type="submit" class="pure-button pure-button-primary" value="{{ 'Change password'|trans }}">
                <i class="icon-edit font-icon">&#xe809;</i>&ensp;{{ 'Change password'|trans }}
            </button>
        </div>
    </form>
{% endblock %}
{% block scripts %}
    <script src="{{ app.request.basepath }}/js/zxcvbn.js" async></script>
    {{ parent() }}
    <script>
        require('js/password_validation')('password', 'password_repeat', 'validation', 'strengthmeter');
    </script>
{% endblock %}